n8n-workflows/workflow-1-business-lead-discovery.json
{
  "name": "Workflow 1: Business Lead Discovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business-lead-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "industry",
              "name": "industry",
              "value": "={{ $json.body.industry }}",
              "type": "string"
            },
            {
              "id": "location",
              "name": "location",
              "value": "={{ $json.body.location }}",
              "type": "string"
            },
            {
              "id": "radius",
              "name": "radius",
              "value": "={{ $json.body.radius }}",
              "type": "number"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Search Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "skill_profiles",
        "returnAll": false,
        "limit": 1,
        "where": {
          "conditions": [
            {
              "key": "user_id",
              "value": "={{ $json.user_id }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "load-user-profile",
      "name": "Load User Profile (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google_maps" },
            { "name": "q", "value": "={{ $json.industry }} near {{ $json.location }}" },
            { "name": "type", "value": "search" },
            { "name": "api_key", "value": "={{ $env.SERP_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "search-google-maps",
      "name": "Search Google Maps (SerpAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.local_results || [];\nconst avoidIndustries = $('Load User Profile (Supabase)').first().json.avoid_industries || [];\n\nconst negativeJobKeywords = [\n  'mlm','commission only','door to door','crypto','adult','casino',\n  'gambling','government','school district','enterprise only','franchise only'\n];\n\nconst filtered = results\n  .filter(b => {\n    const name = (b.title || '').toLowerCase();\n    const blocked = [...avoidIndustries, ...negativeJobKeywords];\n    return !blocked.some(kw => name.includes(kw.toLowerCase()));\n  })\n  .slice(0, 10)\n  .map(b => ({\n    business_name: b.title || '',\n    website_url: b.website || null,\n    location: b.address || null,\n    phone: b.phone || null,\n    rating: b.rating || null,\n    reviews: b.reviews || null,\n    industry: $('Extract Search Parameters').first().json.industry,\n    user_id: $('Extract Search Parameters').first().json.user_id\n  }));\n\nreturn filtered.map(item => ({ json: item }));"
      },
      "id": "filter-results",
      "name": "Filter & Clean Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "url", "value": "={{ $json.website_url }}" },
            { "name": "strategy", "value": "mobile" },
            { "name": "key", "value": "={{ $env.PAGESPEED_API_KEY }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-website",
      "name": "Check Website Quality (PageSpeed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Filter & Clean Results').item.json;\nconst pagespeed = $input.item.json;\n\nlet performanceScore = null;\ntry {\n  const score = pagespeed.lighthouseResult?.categories?.performance?.score;\n  performanceScore = score !== undefined ? Math.round(score * 100) : null;\n} catch (e) {}\n\nreturn [{ json: { ...lead, pagespeed_score: performanceScore } }];"
      },
      "id": "merge-pagespeed",
      "name": "Merge PageSpeed Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are Skill Hunter's business opportunity analyst.\\n\\nAnalyze this business and return ONLY valid JSON with these exact keys:\\n{\\\"summary\\\": string, \\\"biggest_issue\\\": string, \\\"best_opportunity\\\": string, \\\"recommended_services\\\": string[], \\\"website_score\\\": number (0-100), \\\"seo_score\\\": number (0-100), \\\"social_score\\\": number (0-100), \\\"lead_score\\\": number (0-100), \\\"pain_point_summary\\\": string, \\\"audit_teaser\\\": string}\\n\\nBusiness: {{ $json.business_name }}\\nIndustry: {{ $json.industry }}\\nWebsite: {{ $json.website_url || 'None' }}\\nLocation: {{ $json.location }}\\nRating: {{ $json.rating || 'Unknown' }} ({{ $json.reviews || 0 }} reviews)\\nMobile Speed Score: {{ $json.pagespeed_score !== null ? $json.pagespeed_score + '/100' : 'Could not check' }}\\n\\nBe honest, calm, consultative. Identify real improvement opportunities.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ai-analysis-claude",
      "name": "AI Analysis (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Merge PageSpeed Score').item.json;\nconst claudeResponse = $input.item.json;\n\nlet analysis = {};\ntry {\n  const content = claudeResponse.content?.[0]?.text || '{}';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  analysis = { lead_score: 50, pain_point_summary: 'Analysis unavailable', recommended_services: [] };\n}\n\nreturn [{ json: { ...lead, ai_analysis: analysis } }];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "business_leads",
        "columns": {
          "mappings": [
            { "column": "user_id", "value": "={{ $json.user_id }}" },
            { "column": "business_name", "value": "={{ $json.business_name }}" },
            { "column": "industry", "value": "={{ $json.industry }}" },
            { "column": "website_url", "value": "={{ $json.website_url }}" },
            { "column": "location", "value": "={{ $json.location }}" },
            { "column": "phone", "value": "={{ $json.phone }}" },
            { "column": "lead_score", "value": "={{ $json.ai_analysis.lead_score }}" },
            { "column": "website_score", "value": "={{ $json.ai_analysis.website_score }}" },
            { "column": "seo_score", "value": "={{ $json.ai_analysis.seo_score }}" },
            { "column": "social_score", "value": "={{ $json.ai_analysis.social_score }}" },
            { "column": "pain_point_summary", "value": "={{ $json.ai_analysis.pain_point_summary }}" },
            { "column": "recommended_services", "value": "={{ $json.ai_analysis.recommended_services }}" },
            { "column": "audit_data", "value": "={{ $json.ai_analysis }}" },
            { "column": "status", "value": "new" }
          ]
        }
      },
      "id": "save-to-supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2050, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"leads_found\": $input.all().length, \"message\": \"Business lead search complete\" } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Extract Search Parameters", "type": "main", "index": 0 }]]
    },
    "Extract Search Parameters": {
      "main": [[{ "node": "Load User Profile (Supabase)", "type": "main", "index": 0 }]]
    },
    "Load User Profile (Supabase)": {
      "main": [[{ "node": "Search Google Maps (SerpAPI)", "type": "main", "index": 0 }]]
    },
    "Search Google Maps (SerpAPI)": {
      "main": [[{ "node": "Filter & Clean Results", "type": "main", "index": 0 }]]
    },
    "Filter & Clean Results": {
      "main": [[{ "node": "Check Website Quality (PageSpeed)", "type": "main", "index": 0 }]]
    },
    "Check Website Quality (PageSpeed)": {
      "main": [[{ "node": "Merge PageSpeed Score", "type": "main", "index": 0 }]]
    },
    "Merge PageSpeed Score": {
      "main": [[{ "node": "AI Analysis (Claude)", "type": "main", "index": 0 }]]
    },
    "AI Analysis (Claude)": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["skill-hunter"],
  "meta": {
    "instanceId": "skill-hunter"
  }
}
